
{% extends "/professor/base.html" %}
{% block content %}
<div id="centro"> 
</br>   
<div class="eight wide column">
        <div class="row">
            <div class="ui center aligned segment">
             <h2 class="ui  header">Turma</h2>   
             <div class="ui fluid search selection dropdown">
  <input name="country" type="hidden">
  <i class="dropdown icon"></i>
  <div class="default text">Escolha a turma</div>
  <div class="menu">
  <div class="item" value="gti">GTI</div>
  <div class="item" value="ads">ADS</div>
  <div class="item" value="sistema">Sistema</div>
  <div class="item" value="db">Banco de Dados</div>
     </div>
     </div>
        </div>
       </div>
       <br/>
<div id="centro">    
<div class="eight wide column">
        <div class="row">
<script src="/static/js/meu.js"></script>  
    <div class="eight wide column">
        <div class="row">
            <div class="ui center aligned segment">
             <h2 class="ui  header">Semestres</h2>   
            <div id="nav" class="ui pagination menu">
            <a href="primeiro" class="item">1 </a>
            <a href="segundo" class="item">2 </a>
            <a href="terceiro" class="item">3 </a>
            <a href="quarto" class="item">4 </a>
            <a href="quinto" class="item">5 </a>
            <a href="sexto" class="item">6 </a>
        </div>
       </div>
      <div id="container">

      </div>
    </div> 
</div
      </div>
    </div>
    </div> 
</div> 
{% endblock %}
