
{% extends "/professor/base.html" %}
{% block content %}
<div id="centro">
</br>
  <div class="ui tabular menu">
    <div class="item active" data-tab="grupos">Grupos</div>
    <div class="item" data-tab="templates">Templates</div>
  </div>
  <div class="ui tab active" data-tab="grupos">
      <div class="eight wide column">
        <div class="row">
          <div class="ui segment">
            <table class="ui celled padded unstackable table">
              <thead>
                <tr>
                  <th>
                    Grupo
                  </th>
                  <th>
                    Instituição
                  </th>
                  <th>
                    Turma
                  </th>
                  <th>
                    Ações
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Programação Web
                  </td>
                  <td>
                    Faculdade 1
                  </td>
                  <td>
                    ADS - 328482397
                  </td>
                  <td>
                    <button class="ui blue button">Editar</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    Banco de dados
                  </td>
                  <td>
                    Faculdade 3
                  </td>
                  <td>
                    Sistemas de informação - 328482397
                  </td>
                  <td>
                    <button class="ui blue button">Editar</button>
                  </td>
                </tr>
                <tr>
                  <td>
                    Contabilidade
                  </td>
                  <td>
                    Faculdade 3
                  </td>
                  <td>
                    ADM - 328482397
                  </td>
                  <td>
                    <button class="ui blue button">Editar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
  </div>
  <div class="ui tab" data-tab="templates">
    <div class="eight wide column">
      <div class="row">
        <div class="ui segment">
          <table class="ui celled padded unstackable table">
            <thead>
              <tr>
                <th>Template</th><th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Programação web</td><td>
                  <button class="ui blue button">Novo</button>
                  <button class="ui red button">Visualizar</button>
                  <button class="ui violet button">Compartilhar</button>
                </td>
              </tr>
              <tr>
                <td>Banco de dados</td><td>
                  <button class="ui blue button">Novo</button>
                  <button class="ui red button">Visualizar</button>
                  <button class="ui violet button">Compartilhar</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui compartilhar modal">
  <div class="header">Compartilhar</div>
  <div class="content">
    <div class="ui input" style="margin-bottom:5px;">
      <input type="text" placeholder="Digite o nome do professor">
    </div>

    <div class="row">
      <div class="ui segment">
        <table class="ui celled padded unstackable table">
          <thead>
            <tr>
              <th>Nome</th><th>Permissão</th><th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>João Pereira</td>
              <td>
                <div class="ui checked checkbox">
                  <input checked="" type="checkbox">
                  <label>Pode editar?</label>
                </div>
              </td>
              <td><button class="ui red button">Remover</button></td>
            </tr>
            <tr>
              <td>Fernando Gomes</td>
              <td>
                <div class="ui checked checkbox">
                  <input type="checkbox">
                  <label>Pode editar?</label>
                </div>
              </td>
              <td><button class="ui red button">Remover</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="actions">
    <button class="ui green deny button">Ok</button>
  </div>
</div>

<div class="ui novogrupo small modal">
  <div class="header">Novo Grupo</div>
  <div class="content">
    <div class="ui input" style="margin-bottom:5px;">
      <input type="text" placeholder="Digite o nome do grupo">
    </div>
  </div>
  <div class="actions">
    <button class="ui green ok button">Criar</button>
    <button class="ui cancel button">Cancelar</button>
  </div>
</div>

<script type="text/javascript">
  $(function()
  {
    $('.tabular.menu .item').tab();
    $('.ui.violet.button').click(function()
    {
      $('.ui.compartilhar.modal').modal('show');
    });

    $('.ui.blue.button').click(function()
    {
      $('.ui.novogrupo.small.modal').modal('show');
    });

  });
</script>
{% endblock %}
