{% extends "faculdade/base.html" %}
{% block content %}
    <div id="centro">
    <div class="eight wide column">
        <span><a href="/faculdade/periodo/novo/"</a><button class="ui button"> <i class=" plus green icon"> </i>Novo Período </button></a></span>
        <table class="ui celled unstackable padded table">
            <thead>
                <tr><th class="single line">Código</th><th>Nome</th><th>Inicio</th><th>Intervalo</th><th>Termino</th><th>Ações</th></tr>
                {% for p in periodos %}
                <tr><td>{{ p.Periodos.id }}</td><td>{{ p.Periodos.nome }}</td><td>{{ p.Periodos.inicio }}</td><td>{{ p.Periodos.intervalo }}</td><td>{{ p.Periodos.termino }}</td><td><button  class="ui blue button">Editar</button> <button id="{{p.Periodos.id}}" class="ui red button btn-excluir-periodo">Excluir</button></td>   {% endfor %}
            </thead>
        </table>
    </div>
</div>
</div>
<script type="text/javascript" src="/static/js/faculdade/main-periodos.js"></script>
{% endblock %}
