{% extends "aluno/base.html" %}
{% block content %}   
<div class="ui three column grid">
      <div class="three wide column">
        <div class="ui segment">
            <div class="ui card">
                <a class="image" href="#">
                    <img src="/static/imagens/alunos/1.jpg">
                </a>
                <div class="content">
                    <a class="header" href="#">Alisson Menezes</a>
                    <div class="meta">  
                        <a>Email : Alisson@yahoo.com</a>
                        <a>Celular : 9945-5852</a>
                    </div>
                </div>
            </div>
            <div class="ui fluid secondary vertical pointing menu">
                <a class="active item"> <i class="user icon"></i> Perfil </a>
                <a class="item"> <i class="calendar icon"></i> Calendario </a>
                <a class="item"> <i class="alarm icon"></i> Alertas </a>
            </div>
        </div>
    </div>
    <div class="eight wide column">
        <div class="row">
        </div>
    </div> 
</div> 
{% endblock %}