{% extends "aluno/base.html" %}
{% block content %}    
<div id="centro">
<div class="eight wide column">
        <div class="row">         
                <table class="ui celled unstackable padded table">
                    <th>Materia</th><th>Data de entrega</th><th>integrantes</th><th></th></tr>
                    <tr><td>Sistema operacionais</td><td>23/11/2015	</td><td>5</td><td><a href="/aluno/grupos/1"><button class="ui green button">Ver grupo</button></a></td></tr>         
                </table>
        </div>
    </div> 
</div>
{% endblock %}

