
{% extends "aluno/base.html" %}
{% block content %}   
<div id="centro">   
 <div class="eight wide column">
         <div class="ui segment">
            <h4 class="ui header">Em Curso</h4> 
            <table class="ui celled unstackable padded table">
                <thead>
                    <tr><th class="single line">Código</th><th>Disciplina</th><th>Media final</th><th>Percentual de Presença</th><tr>
                    <tr><td>6532</td><td>Gestão de Sistemas Operacionais</td><td>--</td><td>100%</td></tr>
                    <tr><td>6532</td><td>Laboratório de Hardware</td><td>--</td><td>100%</td></tr>
                    <tr><td>6532</td><td>Linguagens de Programação</td><td>--</td><td>100%</td></tr>
                    <tr><td>6532</td><td>Modelagem de Processos</td><td>--</td><td>100%</td></tr>
                    <tr><td>6532</td><td>Inglês II</td><td>--</td><td>100%</td></tr>
                    <tr><td>6532</td><td>Matemática Financeira</td><td>--</td><td>100%</td></tr>
                  <tr><td>6532</td><td>Metodologia da Pesquisa Científico-Tecnológica</td><td>--</td><td>100%</td></tr>
                </thead>
            </table>
            </div>
                <div class="ui segment">
                <h4 class="ui header">Aprovado</h4> 
                <table class="ui celled unstackable padded table">
                <thead>
                    <tr><th class="single line">Código</th><th>Disciplina</th><th>Media final</th><th>Percentual de Presença</th><tr>
                    <tr><td>6532</td><td>Processos Gerenciais</td><td>9.0</td><td>100%</td></tr>
                    <tr><td>6532</td><td>Algoritmos</td><td>9.0</td><td>100%</td></tr>
                    <tr><td>6532</td><td>Fundamentos de Tecnologia da Informação</td><td>7.0</td><td>100%</td></tr>
                    <tr><td>6532</td><td>Inglês I</td><td>6.0</td><td>100%</td></tr>
                    <tr><td>6532</td><td>Comunicação e Expressão</td><td>9.0</td><td>100%</td></tr>
                    <tr><td>6532</td><td>Matemática Discreta</td><td>8.5</td><td>100%</td></tr>
                </thead>
                </table>
                </div> 
      </div>
</div>
{% endblock %}

