{% extends "aluno/base.html" %}
{% block content %}   
  <div id="centro">
    <div class="eight wide column">
        <div class="row">
            <div class="ui segment">
                <h4 class="ui header">Notas</h4> 
                <table class="ui celled unstackable padded table">
                    <thead>
                        <tr><th class="single line">Código</th><th>Disciplina</th><th>Media</th><th>Ano</th></tr></tr>
                        <tr><td>6532</td><td>Aplicação para Web</td><td>0</td><td>2015</td></tr>
                        <tr><td>6532</td><td>Estrutura de Dados Avançada</td><td>0</td><td>2015</td></tr>
                        <tr><td>6532</td><td>Qualidade de Software</td><td>0</td><td>2015</td></tr>
                        <tr><td>6532</td><td>Segurança e Auditoria de Sistemas</td><td>0</td><td>2015</td></tr>
                        <tr><td>6532</td><td>Sistemas Distribuidos - Clusters</td><td>0</td><td>2015</td></tr>
                    </thead>
                </table>
            </div>
        </div>
    </div> 
</div>
{% endblock %}