{% extends "aluno/base.html" %}
{% block content %} 
    <div id="centro"> 
    <div class="eight wide column">
        <div class="row">        
            <div class="ui segment">
                <h4 class="ui header">Trabalhos</h4> 
                <table class="ui celled unstackable padded table">
                    <thead>
                        <tr><th class="single line">Código</th><th>Disciplina</th><th>Data de Entrega</th><th>Assunto</th><th>Nota</th></tr>
                        <tr><td>6532</td><td>Aplicação para Web</td><td>10/09/2015</td><td>Python para Web</td><td>10</td></tr>
                        <tr><td>6532</td><td>Estrutura de Dados Avançada</td><td>10/09/2015</td><td>Ordenação</td><td>10</td></tr>
                        <tr><td>6532</td><td>Qualidade de Software</td><td>10/09/2015</td><td>Usabilidade</td><td>10</td></tr>
                        <tr><td>6532</td><td>Segurança e Auditoria de Sistemas</td><td>10/09/2015</td><td>Pentest</td><td>10</td></tr>
                        <tr><td>6532</td><td>Sistemas Distribuidos - Clusters</td><td>10/09/2015</td><td>Load Balance</td><td>10</td></tr>
                    </thead>
                </table>
            </div>
        </div>
    </div> 
</div>
{% endblock %}

